<header>
    <nav>
    <div class="navbar">
        <div class="navbar-brand">
            <div class="brand">
            
        
            <strong style="font-size: 20px">platformcommons</strong>
        </div>
            <!-- <div class="form-group">
            <input type="text"  class="form-control" placeholder="search products"/>
            <button class="btn1"><span class="fas fa-search search-icon"></span></button>
        </div> -->
        <button routerLink="cart" class="btn btn-light">
            <i class="fas fa-cart-plus"></i>
            <div class="badge bg-danger" style="font-size: 10px;margin-left:-2px">{{totalItem}}</div>
        </button>
        
        </div>
    </div>
    </nav>
</header>
